* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar layout*/
.navbar-custom {
  background-color: #FFFFFF;
  border-bottom: 3px solid #414141;
  width: 95%;
  margin: 0px auto;
}

/* navbar links */
.navbar-custom .navbar-nav .nav-link {
    color: #414141;
}
/* sctive and hovered links */
.navbar-custom .nav-item .active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #72A7A0;
}

.page {
  color: #414141;
}

/*Home page*/
.heading-container {
  display: flex;
}

.heading-info {
  margin-top: 50px;
}

.heading-graphics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-buttons-container {
  display: flex;
  margin-top: 25px;
}

.nav-button {
  background-color: #72A7A0;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.nav-button:hover {
  text-decoration: none;
  color: white;
  background-color: #699992;
}

.graph-preview-container {
  display: flex;
}

.graph-item {
  display: flex;
  flex-direction: column;
}

/*Standard Works*/
.search-form {
  width: 80%;
  margin: 0px auto;
  margin-top: 60px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  width: 30px;
  height: 30px;
}

.page-title {
  font-size: 35px;
  font-weight:500;
  margin-bottom: 15px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.graph-container {
  margin: 0px auto;
  height: 400px;
  /*height: 500px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  border*/
}

.instruction-container {
  width: 80%;
  margin: 0px auto;
}

/*footer*/
.footer {
  height: 50px;
  background-color: #72A7A0;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.footer a {
  color: white;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
  .page {
    flex-wrap: wrap;
  }
  /*Home Page*/
  .heading-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .heading-info {
    justify-content: center;
    width: 90%;
  }

  .heading-image {
    width: 100%;
  }

  .nav-buttons-container {
    flex-direction: column;
    width: 90%;
  }

  .nav-button {
    margin-bottom: 5px;
  }

  .graph-preview-container {
    flex-direction: column;
    align-items: center;
  }

  .graph-item {
    width: 90%;
    margin-bottom: 20px;
  }
  /*Standard Works*/
  .search-form {
    width: 90%;
  }

  .filter-container {
    flex-direction: column;
  }

  .graph-container {
    width: 400px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 501px) {
  .heading-container {
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
  }

  .heading-info {
    width: 50%;
  }

  .nav-buttons-container {
    width: 90%;
    justify-content: space-around;
  }

  .graph-preview-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
  }

  .graph-item {
    margin-bottom: 20px;
  }

  /*Standard works*/
  .filter-container {
    justify-content: space-around;
  }
}
